version: '3.6'
services:

  prowes-worker:
    image: elixircloud/prowes:latest
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    depends_on:
      - prowes
    links:
      - mongodb
      - rabbitmq
    command: bash -c "cd /app/pro_wes; celery worker -A celery_worker -E --loglevel=info"
    volumes:
      - ../../data/pro_wes:/data

  prowes:
    image: elixircloud/prowes:latest
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    links:
      - mongodb
    command: bash -c "cd /app/pro_wes; gunicorn -c config.py wsgi:app"
    volumes:
      - ${PROWES_DATA_DIR:-../data/pro_wes}:/data
    ports:
      - "7676:8080"

  rabbitmq:
    image: "rabbitmq:3-management"
    hostname: "rabbitmq"
    restart: unless-stopped
    links:
      - mongodb
    ports:
      - "5662:5672"

  mongodb:
    image: mongo:3.2
    restart: unless-stopped
    volumes:
      - ${PROWES_DATA_DIR:-../data/pro_wes}/db:/data/db
    ports:
      - "27007:27017"

  flower:
    image: mher/flower:0.9
    restart: unless-stopped
    links:
      - prowes-worker
    command: flower --broker=amqp://guest:guest@rabbit:5672// --port=5555
    ports:
      - "5545:5555"

